#game {
  /*width: 200px;*/
  margin: 0 auto;
  text-align: center;
  /*font-family: 'Advent Pro', sans-serif;*/
  font-family: 'Geo', sans-serif;
  /*font-family: 'Englebert', sans-serif;*/
}

p,
h1,
h2,
h3 {
  font-family: 'Geo', sans-serif;
}

@media screen and (max-width: 640px) {
  .btn {
    display: block;
  }
  .jumbotron.text-center {
    width: 100%;
    height: 50%;
  }
  .btn.btn-primary.btn-lg {
    display: block;
    /*padding: 1em;*/
    margin: .5em;
  }
  /*#keyboard-instructions {
    display: none;
  }*/
}
